/*------------------------fondo------------------------------------------*/

*{
    box-sizing: border-box;
}

body {
    margin: 0%;
}

/*--------------------------------------------------------*/
/*------------------------- MENU -------------------------*/
/*--------------------------------------------------------*/
nav {
background-color: brown;
padding-top: 7px;
padding-bottom: 7px;
padding: 12px 0 12px 0; /* poniendo relleno entre el texto y la barra menu*/
}

nav ul {
    list-style: none; 
    display: flex;
    justify-content: center;
    margin: 0%;/* quitando el margen de los links */

}

nav ul a {
    color: white;
    text-decoration: none;  /* para quitar el subrayado al texto de los link */
    margin: 0 20px 0 20px; /* espaciado entre los links */

}


/*--------------------------------------------------------*/
/*-------------------- 1ER CONTENIDO ---------------------*/
/*--------------------------------------------------------*/

body {

    height: 900px;
    background-image: url(imagenes/captura2.png); /* imagen dentro de la carpeta*/
    min-height: 650px;
    background-size: cover;
    /*background-size: 1800 auto;*/
    background-size: 33rem;
    background-repeat: no-repeat;
    background-position: 85%;
    background-attachment: fixed;


    background-color: rgb(0, 3, 48);
    
}

/*------------------------texto general-------------------------------------*/
div {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 5%;
    transition: 2s;
    color: white;
}

/*------------------------encabezado-------------------------------------*/
div h3 {
    margin-top: 10%;
    display: block;
}

/*------------------------titulo------------------------------------------*/
div h1 {
    margin-right: 55%;
}

/*------------------------ parrafo ------------------------------------------*/
div p {
    font-size: 90%;
    margin-right: 55%;
    margin-bottom: 4%;
}

/*------------------------ boton ------------------------------------------*/
.boton {
    border: 1px solid rgb(0, 3, 48);
    padding: 1.5% 5%; /* separacion de altura y anchura del boton */
    /* width: 300px; height: 100px;*/
    background-color: rgb(246, 175, 74); /* color del boton*/
    color: rgb(0, 3, 48);
    text-decoration: none;
    /*text-transform: uppercase;*/
    border-radius: 50px; /* esquinas redondeadas del boton*/
    cursor: pointer;
    transition: background-color 1s; /* tiempo de la transicion de color al pasar el cursor*/
}

.boton:hover{   /* realizar alguna accion cuando pasa el raton sobre el boton  */
    background-color: rgb(254, 195, 114); /* color que  tendra al pasar el cursor*/
}

/*--------------------------------------------------------*/
/*-------------------- 2DO CONTENIDO ---------------------*/
/*--------------------------------------------------------*/

.mainWhite {
    margin: 0%;
    background-color: white;
    color: black;
}

.mainWhite p {
    margin: 0%;
    margin-right: 5%;
    margin-left: 5%;
    
    padding-top: 30vh;
    padding-bottom: 30vh;

    text-align: center;
}

/*--------------------------------------------------------*/
/*-------------------- PIE DE PAGINA ---------------------*/
/*--------------------------------------------------------*/

footer{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}





/*
p img {
    display: block;
    margin: auto;
}


div h4 {
    display: block;
    
}

p {
    align-items: baseline;
    display: block;
}
*/
